.todo-app{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.add-task input[type="text"]{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

.add-task button{
    width: 80px;
    height: 30px;
}

ul{
    list-style-type: none;
    padding: 0;
}
li{
    margin-bottom: 5px;
}